@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,600i,700,700i');
.app-header-fixed .app-header {
    border: none !important;
}


.text-shadow {
    font-size: 48px;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus, .dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
    background-color: #3895ca !important;
    color: #FFF;
}

.navbar-brand img {
    width: auto;
    margin: 0 auto;
    height: auto;
    max-height: 40px;
    max-width: 100%;
}

.i-checks input:checked + i {
    border-color: #0082cb;
}

.i-checks input:checked + i:before {
    background-color: #0082cb;
}

.display-inline-block {
    display: inline-block;
}

.text-primary-bleu {
    color: #3895ca;
}

[role="button"] > label {
    cursor: pointer;
}

.navi ul.nav li a {
    padding: 10px;
}

.bg-black .nav > li > a:hover,
.bg-black .nav > li > a:focus,
.bg-black .nav > li > a.active {
    background: #16232d;
    color: #FFF;
}

.navbar-brand {
    padding: 0 10px;
    width: 200px;
    background: #FFF;
    min-height: 56px;
}



.btn-info > * {
    color: #FFF;
}


.panel-body > *:last-child {
    margin-bottom: 0;
}

.modal-footer .alert {
    text-align: left;
}

.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
    background-color: #0082cb;
    border-color: #0082cb;
}

.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > tbody > tr > td,
.table > tfoot > tr > td {
    padding: 8px 10px;
}

.table-striped > tbody > tr:nth-child(odd) > td,
.table-striped > tbody > tr:nth-child(odd) > th {
    background-color: #f6f8f7;
}

body {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #062d3f;
    font-weight: 300;
}

a.link-logo img {
    max-width: 100%;
    height: auto;
}

.app-footer {
    z-index: 998;
}

.modal {
    z-index: 99999;
}

.modal-backdrop {
    z-index: 99998;
}

.animated {
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
}

.bg-header-page {
    background-color: #3895ca;
    color: #FFF;
}

.app-header-fixed {
    padding-top: 56px;
}

.form-control.no-border,
.form-control.no-borders {
    border-width: 1px;
}

.font-thin {
    font-weight: 300;
}

.app-content {
    background: #f6f8f7;
}

.panel-default {
    background: #ffffff;
    border-color: #eaeaea;
    border-radius: 6px;
    border-width: 2px;
}

.panel-default > .panel-heading {
    border-color: #eaeaea;
}

.panel-default > .panel-heading {
    background-color: #f5f6f8;
    border-width: 2px;
}

.panel-default > .panel-footer {
    background-color: #f8f8f8;
}

.table > caption + thead > tr:first-child > th,
.table > colgroup + thead > tr:first-child > th,
.table > thead:first-child > tr:first-child > th,
.table > caption + thead > tr:first-child > td,
.table > colgroup + thead > tr:first-child > td,
.table > thead:first-child > tr:first-child > td {
    background: #edf1f2;
}

.table > thead > tr > th {
    vertical-align: top;
}

.table-striped > thead > tr > th {
    background-color: #edf1f2;
}

ul.liste-timeline-course-session > li {
    margin: 0;
    padding: 0;
    list-style: none;
    padding-left: 8%;
    border-left: 2px solid #d6d9df;
    padding-bottom: 20px;
    padding-top: 20px;
    position: relative;
}

ul.liste-timeline-course-session {
    padding: 0;
    margin: 50px auto;
    max-width: 450px;
}

ul.liste-timeline-course-session > li .panel {
    margin-bottom: 40px;
    margin-top: -45px;
}

ul.liste-timeline-course-session > li:before {
    content: "";
    display: inline-block;
    width: 16px;
    height: 16px;
    border: 5px solid #3895ca;
    border-radius: 50%;
    position: absolute;
    left: -9px;
    top: 0;
    background-color: #F6F8F7;
}

ul.liste-timeline-course-session > li:last-child {
    margin-bottom: 0;
    padding-bottom: 0px;
    border-left-color: transparent;
}

.circle-time {
    width: 92px;
    height: 92px;
    display: inline-block;
    text-align: center;
    background: #f5f6f8;
    line-height: 88px;
    border: 2px solid #e4e6eb;
    border-radius: 50%;
    font-size: 16px;
    position: relative;
    vertical-align: top;
    direction: ltr;
}

.circle-time .fa {
    position: absolute;
    left: -1px;
    top: -2px;
    background: #F5F6F8;
    border: 2px solid #E7E9ED;
    font-size: 18px;
    padding: 4px;
    border-radius: 50%;
    color: #ccd0d8;
    line-height: 16px;
}

span.circle-difference-time {
    margin: 0 10px;
    display: inline-block;
    vertical-align: middle;
    line-height: 92px;
    position: relative;
    padding: 0 15px;
}

span.circle-difference-time > i {
    font-style: normal;
    color: #989899;
    display: inline-block;
    background: #FFF;
    position: relative;
    z-index: 2;
    padding: 0 4px;
}

span.circle-difference-time:after {
    display: inline-block;
    content: "";
    width: 100%;
    border-top: 1px dashed #D6D9DF;
    position: absolute;
    left: 0;
    top: 50%;
}

span.circle-difference-time > * {
    display: inline-block;
    line-height: normal;
}

.btn {
    border-radius: 5px;
    border-width: 4px;
}

.btn-primary {
    background-color: #0082cb;
    border-color: #0082cb;
    border-bottom-color: #01669e;
}

.btn > .fa {
    margin-right: 8px;
}

.footer-btns-timeline > .btn {
    width: 48.5%;
    margin: 0 0.5%;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
    background-color: #01669e;
    border-color: #01669e;
}

.btn-danger {
    background-color: #f45655;
    border-color: #f45655;
    border-bottom-color: #db4d4c;
}

.btn-danger:hover,
.btn-danger:focus,
.btn-danger:active,
.btn-danger.active,
.open .dropdown-toggle.btn-danger {
    background-color: #db4d4c;
    border-color: #db4d4c;
}

.liste-timeline-course-session .panel-default > .panel-heading:before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 14px;
    height: 14px;
    background: #f5f6f8;
    border: 2px solid #eaeaea;
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    border-right-color: #F5F6F8;
    border-top-color: #F5F6F8;
    left: -7px;
    top: 22px;
}

.liste-timeline-course-session .panel-default > .panel-heading {
    position: relative;
}

.modal-header {
    background-color: #f5f6f8;
    border-bottom: 2px solid #EAEAEA;
}

.modal-content {
    border: 2px solid #eaeaea;
}

.modal-footer {
    background: #f8f8f8;
    border-top: 2px solid #EAEAEA;
}

.liste-students-course-session {
    margin: 0 auto;
}

.box-student-presence {
    border: 2px solid #f46665;
    margin: 0 0 30px;
    background-color: #f6e9e8;
    padding: 20px;
    border-radius: 4px;
}

.icons_presence_student {
    text-align: center;
}

.icon_presence_student {
    display: inline-block;
    width: 42px;
    height: 42px;
    background: green;
    text-indent: -1000px;
    margin: 0;
    overflow: hidden;
    opacity: 0.35;
    border-radius: 50%;
    border: 2px solid transparent;
    overflow: hidden;
}

.icon_presence_student.active {
    opacity: 1;
    border-color: #FFFFFF;
    box-shadow: 0 0 1px 1px #CCC;
}

.icon_presence_student.icon_status_on_time {
    background: url(../img/icons/icon_on_time.png) center no-repeat;
    background-size: 100%;
}

.icon_presence_student.icon_status_absent {
    background: url(../img/icons/icon_on_absent.png) center no-repeat;
    background-size: 100%;
}

.icon_presence_student.icon_early_quitted {}

.icon_presence_student.icon_status_on_late {
    background: url(../img/icons/icon_on_late.png) center no-repeat;
    background-size: 100%;
}

.icon_presence_student.icon_status_not_called_yet {
    background: url(../img/icons/icon_not_called_yet.png) center no-repeat;
    background-size: 100%;
}

.icon_presence_student.icon_status_waiting_he_come {
    background: url(../img/icons/icon_status_waiting_he_come.png) center no-repeat;
    background-size: 100%;
}

.icon_presence_student.icon_status_early_quitted {
    background: url(../img/icons/icon_early_quitted.png) center no-repeat;
    background-size: 100%;
}

.icon_presence_student.icon_status_good_quitted {
    background: url(../img/icons/icon_good_quitted.png) center no-repeat;
    background-size: 100%;
}

.item_student_coming_status_id_1 .box-student-presence {
    border-color: #69b069;
    background: #e6f0e7;
}

.item_student_coming_status_id_2 .box-student-presence {
    border-color: #FC8A15;
    background-color: #FBF1E7;
}

.item_student_coming_status_id_3 .box-student-presence {
    background: #f5f6f8;
    border-color: #eaeaea;
}

.item_student_coming_status_id_4 .box-student-presence {
    border-color: #69b069;
    background: #e6f0e7;
}

.item_student_coming_status_id_5 .box-student-presence {}

.item_student_coming_status_id_6 .box-student-presence {
    background: #f6e9e8;
    border-color: #f46665;
}

.item_student_coming_status_id_7 .box-student-presence {}

.form-group-uib-timepicker {
    direction: ltr;
    width: 130px;
    height: 130px;
    display: inline-block;
    text-align: center;
    background: #f5f6f8;
    border: 2px solid #e4e6eb;
    border-radius: 50%;
    position: relative;
    vertical-align: top;
}

.form-group-uib-timepicker > .uib-timepicker {
    margin: 0 auto;
    top: 25px;
    position: relative;
}

.form-group-uib-timepicker > .fa {
    position: absolute;
    left: 10px;
    top: 0px;
    background: #F5F6F8;
    border: 2px solid #E7E9ED;
    font-size: 18px;
    padding: 4px;
    border-radius: 50%;
    color: #ccd0d8;
    line-height: 16px;
}

.form-group-uib-timepicker .btn {
    padding: 0px 14px;
    border: none;
}

.box-student-presence > .form-group:last-child {
    margin-bottom: 0;
}

.form-group-uib-timepicker .btn .glyphicon {
    display: inline-block;
    line-height: 20px;
    height: 22px;
    vertical-align: middle;
}

.form-group-uib-timepicker > .uib-timepicker .form-control {
    max-width: 40px;
    padding-left: 4px;
    padding-right: 4px;
    text-align: center;
}

.btns_submit_open_session {
    position: fixed;
    right: 30px;
    bottom: 30px;
    left: auto;
    top: auto;
}

.zindex999 {
    z-index: 999;
}

.zindex9999 {
    z-index: 9999;
}

.tooltip-danger .tooltip-inner {
    background: #f45655;
}

.tooltip.top.tooltip-danger .tooltip-arrow {
    border-top-color: #f45655;
}

.modal-footer > .btn {
    min-width: 100px;
}

.box_presence_students {
    border: 2px solid #eaeaea;
    border-radius: 4px;
    margin: 0 0 4px;
    padding: 10px 4px;
    line-height: 42px;
    position: relative;
    padding-right: 150px;
    font-size: 18px;
}

.box_presence_students > * {
    vertical-align: middle;
    display: inline-block;
}

.box_presence_students .counter {
    background: #5aa85a;
    color: #FFF;
    width: 130px;
    text-align: center;
    line-height: 42px;
    font-size: 20px;
    border-radius: 4px;
    right: 3px;
    position: absolute;
    top: 5%;
    height: 90%;
    vertical-align: middle;
}

.box_presence_students .counter .inner_counter {
    display: inline-block;
    position: absolute;
    width: 100%;
    left: 0;
    text-align: center;
    line-height: 24px;
    top: 50%;
    margin-top: -12px;
    font-weight: bold;
    font-size: 26px;
}

.box_presence_students .counter.counter_waiting {
    background: #fc9426;
}

.box_presence_students .counter.counter_absent {
    background: #F45655;
}

.box_presence_students .icon_presence_student {
    opacity: 1;
}

.BoxsCurrentCourseSession .row {
    margin: 0 auto;
}

.BoxsCurrentCourseSession .row > div {
    vertical-align: middle;
    float: none;
    /* width: 50%; */
    display: table-cell;
}

.BoxsCurrentCourseSession {
    max-width: 700px;
    margin: 0 auto;
}

.panel-header.with-padding {
    padding: 10px 15px;
}

sup.required {
    margin: 0 4px;
    color: #A94442;
}

.pagination.pagination-footer {
    margin: 0;
}

.header-tools.header-btns {
    text-align: right;
}

.radio label,
.checkbox label {
    margin-right: 20px;
    margin-bottom: 10px;
}

.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
    background-color: #3895ca;
    border-color: #0082cb;
}

.pagination > li > a,
.pagination > li > span {
    color: #0082cb;
}

.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
    color: #0082cb;
}

.i-switch i:before {
    background: #f05050;
}

.select-form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.select-form-control {
    font-size: 13px;
    padding: 4px 12px;
}

.select-form-control[disabled],
.select-form-control[readonly],
fieldset[disabled] .select-form-control {
    background-color: #eee;
}


/*
.select-form-control[disabled], fieldset[disabled] .select-form-control {
    cursor: not-allowed;
}*/

.select-form-control:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
    border-color: #23b7e5;
}

.form-control.ng-touched.ng-invalid,
.select-form-control.ng-touched.ng-invalid {
    border-color: #a94442;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}

.line.pull-in {
    width: auto;
}

.btn.btn-icon i {
    line-height: 28px;
    margin-right: 0;
}

.btn.btn-icon-no-margin > .fa {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.input-group-btn .btn {
    padding: 3px 12px;
}

.input-group-addon.input-group-addon-for-btn {
    padding: 0;
}

.input-group-addon.input-group-addon-for-btn .btn {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-bottom: 1px;
}

th.th_sorting,
th.th_sorting_asc,
th.th_sorting_desc {
    position: relative;
}

th.th_sorting:before {
    content: "\f0dc";
    float: right;
    width: 10px;
    height: 20px;
    font: normal normal normal 14px/1 FontAwesome;
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -10px;
    color: #d8e1e3;
}

th.th_sorting_asc:before {
    content: "\f0de";
    float: right;
    width: 10px;
    height: 20px;
    font: normal normal normal 14px/1 FontAwesome;
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -10px;
}

th.th_sorting_desc:before {
    content: "\f0dd";
    float: right;
    width: 10px;
    height: 20px;
    font: normal normal normal 14px/1 FontAwesome;
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -10px;
}

.filter.filter-table {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 20px;
    border-left: 2px solid #eaeaea;
}

.margin-bottom-15 {
    margin-bottom: 15px;
}

.margin-bottom-30 {
    margin-bottom: 30px;
}

ul.menu-footer-languages {
    display: block;
    margin: 0 0 20px;
    padding: 0;
}

ul.menu-footer-languages li {
    display: inline-block;
    margin: 0 6px;
}

ul.menu-footer-languages li:after {
    content: "|";
    display: inline-block;
    margin: 5px;
}

ul.menu-footer-languages li:last-child:after {
    display: none;
}

ul.menu-footer-languages li.active a {
    color: #0082cb;
}

.i-checks > span {
    margin-left: 0;
}

.form-register .radio label,
.form-register .checkbox label {
    margin-left: 0;
    margin-right: 0;
}

body .app {
    display: none;
}

body.ng-scope .app {
    display: block;
}

.log-viewer {
    border: 1px solid #CCC;
    border-radius: 4px;
    margin: 30px 0;
    background: #000;
    color: #2ce42c;
    direction: ltr;
    padding: 10px;
    font-size: 12px;
    font-family: Arial;
    max-height: 300px;
    overflow-y: scroll;
}

.log-viewer span {
    display: block;
    margin: 0 0 4px;
}

body .calendars-popup {
    z-index: 2001;
}

.multi_label_values > span {
    margin-right: 10px;
    display: inline-block;
}

.multi_label_values > span:after {
    content: ",";
}

.multi_label_values > span:last-child:after {
    display: none;
}

td.td-level-class-1 {
    background: #7ff0ff !important;
}

td.td-level-class-2 {
    background: #e9f38f !important;
}

td.td-level-class-3 {
    background: #ffadad !important;
}

td.td-level-class-4 {
    background: #a6b0e8 !important;
}

td.td-level-class-5 {
    background: #ffc97b !important;
}

.symbol-a {
    color: #D94C4A;
    background: rgba(255, 255, 255, 0.75);
    display: inline-block;
    padding: 0 2px;
    line-height: normal;
}

.symbol-b {
    color: #69C2BC;
    background: rgba(255, 255, 255, 0.75);
    display: inline-block;
    padding: 0 2px;
    line-height: normal;
}

.symbol-c {
    color: #C1C262;
    background: rgba(255, 255, 255, 0.75);
    display: inline-block;
    padding: 0 2px;
    line-height: normal;
}

.symbol-d {
    color: #d634b0;
    background: rgba(255, 255, 255, 0.75);
    display: inline-block;
    padding: 0 2px;
    line-height: normal;
}

.symbol-e {
    color: #ffa520;
    background: rgba(255, 255, 255, 0.75);
    display: inline-block;
    padding: 0 2px;
    line-height: normal;
}

.symbol-f {
    color: #009688;
    background: rgba(255, 255, 255, 0.75);
    display: inline-block;
    padding: 0 2px;
    line-height: normal;
}

.symbol-g {
    color: #9C27B0;
    background: rgba(255, 255, 255, 0.75);
    display: inline-block;
    padding: 0 2px;
    line-height: normal;
}

.symbol-h {
    color: #00BCD4;
    background: rgba(255, 255, 255, 0.75);
    display: inline-block;
    padding: 0 2px;
    line-height: normal;
}

.students-list-ul li {
    margin-bottom: 15px;
}

.students-list-ul .current-student {
    color: #e1e7e9;
    cursor: not-allowed;
}

.students-list-ul li a.btn {
    float: left;
}

.students-list-ul li > span {
    display: block;
    max-width: 350px;
    overflow: hidden;
    line-height: 24px;
}

.panel-default > .panel-heading .badge {
    color: #dcf2f8;
    background-color: #3895ca;
}

.follow-up-item {
    width: 70%;
    float: left;
    clear: both;
    margin-bottom: 15px;
}

.follow-up-item.my-follow-up {
    float: right;
}

.panel-heading .fa-stack {
    font-size: 14px;
    height: 18px;
    line-height: 18px;
}

.text-gris {
    color: #CCC;
}

.follow-up-item.my-follow-up .panel-heading {
    background: #f3fff6;
}

.btn-icon.btn-xs {
    width: 20px;
    height: 20px;
    line-height: 20px;
    padding: 0;
    border: none;
}

.btn-icon.btn-xs .fa {
    line-height: 22px;
}

.uib-timepicker.ng-empty {
    opacity: 0.5;
}

.img-max-100 {
    width: auto;
    height: auto;
    max-width: 100px;
    max-height: 100px;
}

.calendar .fc-slats td {
    height: 1.8em;
}

.calendar.loading {
    position: relative;
}

.calendar.loading:after {
    content: "\f110";
    display: block;
    width: 100px;
    height: 100px;
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 9;
    margin-top: -50px;
    margin-left: -50px;
    font-family: "Fontawesome";
    font-size: 100px;
    -webkit-animation: spin 4s linear infinite;
    -moz-animation: spin 4s linear infinite;
    animation: spin 4s linear infinite;
    text-align: center;
    vertical-align: middle;
    line-height: 100px;
    color: rgba(0, 0, 0, 0.72);
}

@-moz-keyframes spin {
    100% {
        -moz-transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}





.form-group-calender-history {
    max-width: 200px;
    margin-left: auto;
    margin-right: auto;
}


.label-cost {
    min-width: 150px;
    display: inline-block;
    line-height: normal;
    vertical-align: middle;
    height: auto;
    padding: 4px 6px 2px;
}



.fc-title .alert-event {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 16px;
    background: #FFF;
    display: block;
    border-radius: 50%;
    border: 1px solid #FFF;
    width: 10px;
    height: 10px;
    text-align: center;
    line-height: 12px;
    text-indent: -1px;
}

.footer-container-calender {
    margin: 30px 0 0;
    line-height: 36px;
}



.box-bordered-left {
    padding-top: 5px;
    padding-left: 20px;
    border-left: 2px solid #eaeaea;
    margin-bottom: 10px;
}




.fc-time-grid-event .fc-title {
    font-size: 10px;
}

.fc-view .fc-event {
    padding: 2px 4px;
}




.input-group-datepicker-no-clear-button button.uib-clear {
    display: none;
}

.input-group-datepicker-no-clear-button .btn-group > .btn:first-child:not(:last-child):not(.dropdown-toggle){
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}






.uib-datepicker .btn-default[disabled] {
    opacity: 0.4;
    cursor: not-allowed;
}

.uib-datepicker .btn-default[disabled] * {
    cursor: not-allowed;
}





.fc-title .alert-coach_id_secondary {
    position: absolute;
    bottom: 1px;
    right: -2px;
    -webkit-margin-after: 0;
    font-size: 12px;
    background: #FFF;
    display: block;
    border-radius: 50%;
    border: 1px solid #FFF;
    width: 14px;
    height: 14px;
    text-align: center;
    line-height: 14px;
    text-indent: 0px;
}

.fc-time-grid-event > .fc-content {
    height: 100%;
}




body .fc-view .fc-event {
    padding: 2px 4px;
}



body .fc-time-grid-event.fc-short .fc-time, body .fc-time-grid-event.fc-short .fc-title {
    display: inline;
    line-height: normal;
    white-space: normal;
}

body .fc-time-grid-event.fc-short .fc-content {
    line-height: 1em;
    white-space: normal;
}



