@import url(http://fonts.googleapis.com/earlyaccess/droidarabickufi.css);

body {
    font-family: 'Droid Arabic Kufi', sans-serif;
    font-size: 13px;
    line-height: 1.2em;
}

.tooltip {
    font-family: 'Droid Arabic Kufi', sans-serif;
}
.form-control {
    font-size: 13px;
    padding: 4px 12px;
}

.btn > .fa {
    margin-left: 8px;
    margin-right: 0;
}
.btn > .fa.fa-in-left {
    margin-left: 0;
    margin-right: 8px;
}


.fa-angle-right:before {
    content: "\f104";
}



table.uib-timepicker {
    direction: ltr;
}






th.th_sorting:before, th.th_sorting_asc:before, th.th_sorting_desc:before {
    left: auto;
    right: 0;
}




ul.liste-timeline-course-session > li {
    border-right: 2px solid #d6d9df;
    border-left: none;
    padding-left: 0;
    padding-right: 8%;
}
ul.liste-timeline-course-session > li:last-child {
    border-right: none;
}
ul.liste-timeline-course-session > li:before {
    right: -9px;
    left: auto;
}



.liste-timeline-course-session .panel-default > .panel-heading:before {
    right: -8px;
    left: auto;
    border: 2px solid #eaeaea;
    border-left-color: #F5F6F8;
    border-bottom-color: #F5F6F8;
}



.form-group-uib-timepicker {
    direction: ltr;
}





.btns_submit_open_session {
    left: 30px;
    right: auto;
}





.footer-btns-timeline > .btn {
    width: 48%;
}




.box_presence_students .counter {
    left: 3px;
    right: auto;
}

.box_presence_students {
    padding-left: 150px;
    padding-right: 4px;
}




.input-group-addon:first-child {
    border-right-color: #CFDADD;
}


.header-tools.header-btns {
    text-align: left;
}





.radio label, .checkbox label {
    margin-left: 20px;
    margin-right: 0px;
}






.i-switch input:checked + i:after {
    margin-right: 16px;
    margin-left: 0;
}






.filter.filter-table {
    padding-left: 0;
    padding-right: 20px;
    border-left: none;
    border-right: 2px solid #eaeaea;
}






.i-checks > i {
    margin-right: 0;
}

label.i-checks {
    padding-left: 0;
}





.multi_label_values > span {
    margin-right: 0;
    margin-left: 10px;
}


.modal-footer .alert {
    text-align: right;
}



